body{
    background-color: #2C5364;
}
.nav{
    width: 80%;
    margin: 20px auto;
    border: 1px solid #cccc;
    border-radius: 25px;
    background-color: #536976;  
    text-align: center; 
    
}

.nav ul{

    list-style: none;
    margin: 5;
    padding: 5;
    position: relative;
    color: #cccc;
}
.nav ul li {    
    display: inline-block;
    position: relative;
    width: 200px;
}

.nav a {

    color: #cccc;
    display: block;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;

}



.nav ul ul ul {
    left: 200px;
    top: 0;
}
.nav img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.nav ul li:hover{
    border-top: 2px solid white;
}

    

form{
width: 50%;
margin: 50px auto;
padding: 30px;
border:  1px solid #dddddd;
border-radius: 25px;
background-color: #f2f2f2;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 20px;
}
input[type="text"] {
    width: 96%;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #dddddd;
    color: black;
    font-size: larger;
}
input[type="text"]:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 30px;
    background-color: beige;
}

input[type="submit"]{
        width: 50%;
        padding: 10px;
        background-color: #4CAF50;
        color:  white;
        font-size: 16px;
        
        border: none;
        cursor: pointer;
}

input[type="submit"]:hover {
    background-color: green;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 30px;
}

.cancelar{
    width: 80%;
    padding: 10px;
    background-color: #4CAF50;
    color:  white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.cancelar:hover {
    background-color: green;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 30px;
}